@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--primary: #fed835;
	--secondary: #304fff;

	--primary-accent: #e5c230;
	--foreground-accent: #454545;
	--hero-background: #f3f3f5;
}

html {
	@apply scroll-smooth;
}

body {
	@apply text-lg;

	color: var(--foreground);
	background: var(--background);
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 600;
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb {
	background: #c1c1c1;
	border-radius: 4px;
	transition: background-color 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
	background: #a1a1a1;
}

::-webkit-scrollbar-thumb:active {
	background: #888;
}

::-webkit-scrollbar-corner {
	background: #f1f1f1;
}

/* For Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #c1c1c1 #f1f1f1;
}

#logos svg {
	@apply w-fit h-10 sm:h-12;
}

.benefit-section:last-of-type > div {
	@apply mb-10;
}
